---
layout: default
permalink: /index.html
title: Integrable Probability FRG
nav_order: 1
nav_id: Home
---

<h1 class="hidden-sm-down mb-3">Integrable Probability Focused Research Group (NSF Grant 2017-2021/22)</h1>
<h2 class="hidden-md-up mb-3">Integrable Probability Focused Research Group (NSF Grant 2017-2021/22)</h2>


<div class="row">
  <div class="col-md-5">
    <h3>Principal Investigators</h3>

    {% include PIs.html %}

    <h3 class="mt-4 mb-2"><a href="{{site.url }}/posts/">New preprints</a></h3>

    <ul>
      {% for post in site.posts limit:7 %}
      <li {%if post.tags contains 'NSF_FRG' %}style="background-color:{{site.hlcolor}}"{%endif%}>
        [<small>{{ post.date | date: "%B %-d, %Y" }}</small>] <b><a href="{{site.url }}{{ post.url }}">{{ post.title }}</a></b>
        {{ post.excerpt | markdownify }}
      </li>
      {% endfor %}
    </ul>

  </div>
  <div class="col-md-7">
    <img src="{{site.url}}/img/paths.jpg" style="width:100%" alt="Nonintersecting paths">

    <h3 class="mt-4 mb-2">Online Events</h3>

    <ul>
      <li><a href="http://www.math.columbia.edu/department/probability/seminar/prob_sem_global.html">Online probability seminars listing</a></li>
    </ul>

    <h3 class="mt-4 mb-2">Upcoming Events (<a href="{{site.url}}/events/">all</a>)</h3>

    {% include cal_scripts.js %}
  </div>

</div>
