---
title: "Home - Integrable Probability FRG"
layout: default
---

<h1>Integrable Probability Focused Research Group (NSF Grant 2017-20)</h1>



<div class="row">
  <div class="col-md-5">
    <h3>Principal Investigators</h3>

    {% include PIs.html %}

    <h3><a href="{{site.url }}/blog">News</a></h3>

    <ul>
      {% for post in site.posts limit:7 %}
      <li>
        [<small>{{ post.date | date: "%B %-d, %Y" }}</small>] <b><a href="{{site.url }}{{ post.url }}">{{ post.title }}</a></b>
        {{ post.excerpt | markdownify }}
      </li>
      {% endfor %}
    </ul>

  </div>
  <div class="col-md-7">
    <img src="{{site.url}}/img/paths.jpg" style="width:100%" alt="Nonintersecting paths">


    <h3>Upcoming Events (<a href="{{site.url}}/events/index.html">all</a>)</h3>

    {% include cal_scripts.js %}
  </div>

</div>
