<footer>
          <div class="container">
            <hr>
            <div class="row">
              <div class="col-md-6" style="font-size:16px">
                Supported by the NSF FRG grant number ...<br>
                <img src="{{site.url}}/img/nsf1.gif" style="width:15%" alt="NSF logo">
              </div>
              <div class="col-md-6" style="font-size:16px">
                <div style="float: right">
                  Maintained by L.Petrov
                  (<a href="mailto:petrov@virginia.edu">email</a>)
                  and other members of the FRG
                </div>
                <div style="float: right">
                  Powered by <a href="https://github.com/int-prob/int-prob.github.io">GitHub pages</a>
              </div>
              </div>
            </div>
          </div>
</footer>
