---
layout: default
---

<h3><a href="{{site.url }}{{ page.url }}">{{ page.title }}</a></h3>
<div class="row">
<div class="col-md-4">
<h4>{{ page.date | date: "%A, %B %-d, %Y" }}</h4>
</div>
<div class="col-md-8" align="right">
<div class="btn-group">
{% for tag in page.tags %} <a href="{{site.url }}/tag/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;"
class="btn btn-secondary" role="button">{{ tag }}</a>  {% if forloop.last != true %} {% endif %} {% endfor %}
</div>
</div>
</div>

<hr>

<div class="page">
{{ content }}
</div>
