---
layout: squeeze1
---

<h3><a href="{{site.url }}{{ page.url }}">{{ page.title }}</a></h3>
<div class="row">
<div class="col-md-4">
<h4>{{ page.date | date: "%A, %B %-d, %Y" }}</h4>
</div>
<div class="col-md-8" align="right">
<div class="btn-group">
{% for tag in page.tags %} <a href="{{site.url }}/blog/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;"
class="btn btn-default" role="button">{{ tag }}</a>  {% if forloop.last != true %} {% endif %} {% endfor %}
</div>
</div>
</div>

<hr>

<div class="page">
{{ content }}
</div>

<hr>

{% if page.comments %}

<!-- NOT SURE HOW EXACTLY TO MAKE COMMENTS; IGNORE FOR NOW -->

		<!-- <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'lenis2000'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
 -->


{% endif %}
